<h1 mat-dialog-title>Add Event for {{ data.date | date:'longDate' }}</h1>
<mat-dialog-content>
  <form [formGroup]="eventForm" (ngSubmit)="onSave()">
    <mat-form-field appearance="outline">
      <mat-label>Event Name</mat-label>
      <input matInput formControlName="name" placeholder="e.g., Team Meeting" cdkFocusInitial>
    </mat-form-field>

    <div class="spinners-container">
      <div class="labeled-spinner">
        <label class="input-label">Start Time</label>
        <app-time-spinner 
          mode="time"
          formControlName="startTime">
        </app-time-spinner>
      </div>

      <div class="labeled-spinner">
        <label class="input-label">Duration</label>
        <app-time-spinner 
          mode="duration" 
          [step]="15" 
          [min]="15" 
          formControlName="duration">
        </app-time-spinner>
      </div>
    </div>

  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-flat-button color="primary" (click)="onSave()" [disabled]="eventForm.invalid">Save Event</button>
</mat-dialog-actions>