.custom-sidebar {
  width: 12vw;//250px; 
  background-color: var(--mat-sys-surface-container-low); 
  color: var(--mat-sys-on-surface); 
  position: fixed;
  height: 94vh;
  top: 6vh;
  border-radius: 0;
  box-shadow: 5px 3px 7px 0px #111111;
}

mat-toolbar {
  height: 6vh;
}

.mat-list-item {
  &.mdc-list-item {
    transition: background-color 0.2s ease-in-out;
  }
  &:hover {
    background-color: var(--mat-sys-state-hover); // Add a hover effect 
  }
}

.item-area{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.profile-area{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.profile-pic{
  width: 6vw;//100px;
  height: 6vw;//100px;
  object-fit: cover;
  margin-top: 20px;
  border-radius: 5%;
  margin-bottom: 8px;
  align-items: center;
}

.user-name{
  text-align: center;
  font-size: clamp(0.5rem, 1vw, 1rem); 
  word-break: break-word; 
}

.content {
  width: 100%;
  margin-top: 6vh;
}