.custom-sidebar {
  width: 12vw;//250px; 
  background-color: var(--mat-sys-surface-container-low); // Use a Material variable for a distinct background color
  color: var(--mat-sys-on-surface); // Ensure text color contrasts with the background
  position: fixed;
  height: 94vh;
  top: 6vh;
  border-radius: 0;

  box-shadow: 2px 0px 8px 0px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

body.dark-theme .custom-sidebar {
  box-shadow: 2px 0px 8px 0px rgba(0, 0, 0, 0.4);
}

mat-toolbar {
  position: fixed;
  height: 6vh;
}

.mat-list-item {
  &.mdc-list-item {
    transition: background-color 0.2s ease-in-out;
  }
  &:hover {
    background-color: var(--mat-sys-state-hover); // Add a hover effect 
  }
}

.item-area{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.profile-area{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.profile-pic{
  width: 6vw;//100px;
  height: 6vw;//100px;
  object-fit: cover;
  margin-top: 20px;
  border-radius: 5%;
  margin-bottom: 8px;
  align-items: center;
}

.user-name{
  text-align: center;
  font-size: clamp(0.5rem, 1vw, 1rem); 
  word-break: break-word; // prevents overflow if long names
}

.content {
  width: 100%;
  margin-top: 6vh;
}

.sidebar-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 16px;
  box-sizing: border-box; /* Ensures padding is included in the width */
  display: flex;
  justify-content: center;
}