<mat-sidenav-container style="height: 94vh;">
  <mat-sidenav #sidenav mode="side" opened class="custom-sidebar">
    @if (user) {
      <section class="profile-area">
        <img [src]="user.picture || '/no_profile_pic.png'" alt="Profile Picture" class="profile-pic">
        <h4 class="user-name">{{(user.displayName | displayNamePipe) || "Loading..."}}</h4>
      </section>
    }
    
    <mat-nav-list class="item-area">
      @for (item of sideBarLinks; track item.route) {
        @if (canView(item.requiredPermissions)) {
        <a mat-list-item [routerLink]="item.route">
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <p matListItemTitle>{{ item.label }}</p>
        </a>
        }
      }
    </mat-nav-list>

    <div class="sidebar-footer">
      <app-theme-toggle-button></app-theme-toggle-button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    
    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>