<h1 mat-dialog-title>Edit Proficiency Name</h1>
<div class="container">
  <div mat-dialog-content>
  <mat-form-field appearance="outline" style="width: 100%;">
    <mat-label>Proficiency Name</mat-label>
    <input matInput [(ngModel)]="name" (keyup.enter)="onSave()" cdkFocusInitial class="name-input">
  </mat-form-field>
</div>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-flat-button color="primary" (click)="onSave()" [disabled]="!name.trim()">Save</button>
</div>