<div class="role-management-container">
    <header class="role-header">
    <h2>Role Hierarchy</h2>
    </header>
    
    <div class="tree-container mat-elevation-z2">
    @if (roleTree$ | async; as rootNode) {
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-nested-tree-node *matTreeNodeDef="let node">
            <li>
            <div class="mat-tree-node">
                <button mat-icon-button matTreeNodeToggle>
                    <mat-icon class="mat-icon-rtl-mirror" [style.visibility]="hasChild(node) ? 'visible' : 'hidden'">
                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                </button>
                <div class="role-info">
                <span class="role-color-dot" [style.background-color]="node.color"></span>
                <span class="role-name">{{ node.name }}</span>
                </div>
                <div class="role-actions">
                @if (canCreateRoles) {
                    <button mat-icon-button matTooltip="Add Child Role" (click)="openCreateRoleDialog(node._id)">
                    <mat-icon>add_circle_outline</mat-icon>
                    </button>
                }
                @if (canEditRoles) {
                    <button mat-icon-button matTooltip="Edit Role" (click)="openEditRoleDialog(node)">
                    <mat-icon>edit</mat-icon>
                    </button>
                }
                @if (canDeleteRoles && node.parent) {
                    <button mat-icon-button color="warn" matTooltip="Delete Role" (click)="deleteRole(node)">
                    <mat-icon>delete_outline</mat-icon>
                    </button>
                }
                </div>
            </div>
            <ul [class.tree-invisible]="!treeControl.isExpanded(node)">
                <ng-container matTreeNodeOutlet></ng-container>
            </ul>
            </li>
        </mat-nested-tree-node>
        </mat-tree>
    } @else {
        <div class="loading-state">
        <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
        </div>
    }
    </div>
</div>