<div class="calendar-container">
  <header class="calendar-header">
    <button mat-icon-button (click)="previousMonth()" aria-label="Previous month">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <h1 class="current-month">{{ monthNames[currentDate.getMonth()] }} {{ currentDate.getFullYear() }}</h1>
    <button mat-icon-button (click)="nextMonth()" aria-label="Next month">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </header>
  <div class="calendar-grid">
    <div *ngFor="let dayName of weekDays" class="day-name-cell">
      {{ dayName }}
    </div>
    <button *ngFor="let day of daysInMonth"
         class="day-cell"
         [class.empty-cell]="!day"
         (click)="onDayClick(day)"
         [disabled]="!day">
      <span *ngIf="day" class="day-number">{{ day.getDate() }}</span>
      <div *ngIf="day" class="event-container">
        <button *ngFor="let event of getEventsForDay(day)" class="event-chip" (click)="onEventClick(event, $event)" type="button">
          <div class="event-content">
            <span class="event-time">{{ getEventTime(event) }} - </span>
            <span class="event-name">{{ event.subject }}</span>
          </div>
          <ng-container [ngSwitch]="getEventStatusIcon(event)">
            <mat-icon *ngSwitchCase="'completed'" class="remark-icon">check_circle</mat-icon>
            <mat-icon *ngSwitchCase="'pending'" class="pending-icon">pending</mat-icon>
          </ng-container>
        </button>
      </div>
    </button>
  </div>
</div>