.admin-container {
    padding: 24px;
    padding-top: 0;
    margin-top: -40px;
}

.tab-icon {
    margin-right: 8px;
}

.tab-content {
    padding-top: 24px;
}

@media (max-width: 576px) {
    .admin-container {
        padding: 12px;
        margin-top: -20px;
    }

    .tab-icon {
        margin-right: 0; 
    }
}