<h1 mat-dialog-title>Request Leave</h1>
<em></em>
<form mat-dialog-content class="dialog-content" [formGroup]="leaveForm">
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" required cdkFocusInitial>
    @if (leaveForm.get('name')?.hasError('required')) {
    <mat-error>Name is required.</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Reason</mat-label>
    <textarea matInput rows="4" placeholder="Please provide a reason for your leave..." formControlName="reason"></textarea>
  </mat-form-field>

  <mat-form-field>
  <mat-label>Enter a date range</mat-label>
  <mat-date-range-input [rangePicker]="picker">
    <input matStartDate placeholder="Start date" formControlName="startDate">
    <input matEndDate placeholder="End date" formControlName="endDate">
  </mat-date-range-input>
  <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>

<div mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close>Cancel</button>
  <button mat-stroked-button  mat-dialog-close color="primary" [disabled]="leaveForm.invalid" (click)="onSubmit()">Submit Request</button>
</div>