<div class="remarks-display-container">
  @if (isLoading) {
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
  } @else {
    @if (sortedRemarks.length === 0) {
      <div class="no-remarks">
        <mat-icon class="no-remarks-icon">rate_review</mat-icon>
        <p>No remarks found for this student</p>
      </div>
    } @else {
      <div class="remarks-list">
        @for (remark of sortedRemarks; track remark._id; let i = $index) {
          <div class="remark-item">
            <div class="remark-header" (click)="toggleRemark(remark._id)">
              <div class="header-left">
                <mat-icon class="expand-icon">{{ isExpanded(remark._id) ? 'expand_more' : 'chevron_right' }}</mat-icon>
                <mat-icon class="tutor-icon">person</mat-icon>
                <span class="tutor-name">{{ getTutorName(remark) }}</span>
                <mat-icon class="subject-icon">school</mat-icon>
                <span class="subject-name">{{ getSubject(remark) }}</span>
              </div>
              <div class="header-right">
                <mat-icon class="date-icon">event</mat-icon>
                <span class="event-date">{{ getEventDate(remark) | date:'mediumDate' }}</span>
              </div>
            </div>

            @if (isExpanded(remark._id)) {
              <div class="remark-content">
              <div class="remarked-info">
                <mat-icon>schedule</mat-icon>
                <span>Remarked on {{ remark.remarkedAt | date:'short' }}</span>
              </div>

              <div class="remark-entries">
                @for (field of remark.template.fields; track field.name) {
                  <div class="entry-item">
                    <div class="entry-label">
                      <mat-icon class="field-icon">
                        @switch (field.type) {
                          @case ('boolean') {
                            check_box
                          }
                          @case ('number') {
                            tag
                          }
                          @case ('time') {
                            schedule
                          }
                          @case ('pdf') {
                            picture_as_pdf
                          }
                          @case ('image') {
                            image
                          }
                          @case ('audio') {
                            audiotrack
                          }
                          @default {
                            description
                          }
                        }
                      </mat-icon>
                      {{ field.name }}:
                    </div>
                    <div class="entry-value">
                      @if (isFileField(field.type)) {
                        @if (getDocument(getRemarkValue(remark, field.name)); as document) {
                          <div class="file-attachment">
                            <span class="file-name">{{ document.originalFilename }}</span>
                            <button mat-icon-button (click)="downloadFile(document)" matTooltip="Download/View">
                              <mat-icon>download</mat-icon>
                            </button>
                          </div>
                        } @else {
                          <span class="no-file">No file attached</span>
                        }
                      } @else {
                        {{ formatValue(getRemarkValue(remark, field.name), field.type) }}
                      }
                    </div>
                  </div>
                }
              </div>
              </div>
            }
          </div>

          @if (i < sortedRemarks.length - 1) {
            <mat-divider class="remark-divider"></mat-divider>
          }
        }
      </div>
    }
  }
</div>
