.dialog-container {
    padding: 24px;
}

.dialog-header {
    display: flex;
    align-items: center;
    gap: 16px;
}

.dialog-header mat-icon {
    font-size: 36px;
    width: 36px;
    height: 36px;
}

h1[mat-dialog-title] {
    margin: 0;
    padding: 0;
    line-height: 2.4;
}

::ng-deep .mat-mdc-dialog-content {
    padding: 0 !important;
    margin-top: 16px;
}