<mat-tab-group>
  <mat-tab label="My Extra Work">
    <div class="dashboard-header">
      <mat-form-field appearance="outline">
        <mat-label>Filter Extra Work</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search by type, student, etc." #input>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      @if (canCreate) {
        <button mat-flat-button color="primary" (click)="openAddWorkDialog()">
          <mat-icon>add</mat-icon>
          Add Extra Work
        </button>
      }
    </div>

    <div class="table-container mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort #myWorkSort="matSort" matSortActive="createdAt" matSortDirection="desc" class="static-table-widths">

        <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Created </th>
            <td mat-cell *matCellDef="let item"> {{item.createdAt | date:'mediumDate'}} </td>
        </ng-container>

        <ng-container matColumnDef="student">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Linked to </th>
            <td mat-cell *matCellDef="let item"> {{ getStudentName(item) }} </td>
        </ng-container>

        <ng-container matColumnDef="workType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
          <td mat-cell *matCellDef="let item"> {{item.workType}} </td>
        </ng-container>

        <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef> Details </th>
          <td mat-cell *matCellDef="let item" [matTooltip]="item.details">{{item.details | slice:0:30}}{{item.details.length > 30 ? '...' : ''}}</td>
        </ng-container>

        <ng-container matColumnDef="remuneration">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Remuneration </th>
          <td mat-cell *matCellDef="let item"> R{{item.remuneration.toFixed(2)}} </td>
        </ng-container>

        <ng-container matColumnDef="commissioner">
            <th mat-header-cell *matHeaderCellDef> Commissioned By </th>
            <td mat-cell *matCellDef="let item"> {{ getCommissionerName(item) }} </td>
        </ng-container>

        <ng-container matColumnDef="dateCompleted">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Completed </th>
          <td mat-cell *matCellDef="let item">
            @if (item.dateCompleted) {
              {{item.dateCompleted | date:'mediumDate'}}
            } @else {
              <button
                mat-stroked-button
                class="date-button"
                [matMenuTriggerFor]="dateMenu"
                [disabled]="!canEdit || item.status === 'Completed' || item.status === 'Approved'">
                <mat-icon>calendar_today</mat-icon>
                Set Date
              </button>
              <mat-menu #dateMenu="matMenu">
                <mat-calendar
                  [minDate]="item.createdAt"
                  [maxDate]="today"
                  (selectedChange)="onDateSelected($event, item, dateMenu)">
                </mat-calendar>
              </mat-menu>
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
          <td mat-cell *matCellDef="let item">
            <span class="status-chip" [ngClass]="item.status.replace(' ', '-').toLowerCase()">{{item.status}}</span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="myWorkDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: myWorkDisplayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="8">
            @if (!input.value) {
              <span>You have not logged any extra work yet.</span>
            } @else {
              <span>No data matching the filter "{{input.value}}"</span>
            }
          </td>
        </tr>
      </table>

      <mat-paginator #myWorkPaginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons
        aria-label="Select page of extra work entries">
      </mat-paginator>
    </div>
  </mat-tab>
  <mat-tab label="Commissioned Work" *ngIf="canApprove">
      <div class="dashboard-header">
        <mat-form-field appearance="outline">
          <mat-label>Filter Extra Work</mat-label>
          <input matInput (keyup)="applyCommissionedFilter($event)" placeholder="Search by type, student, etc." #commissionedInput>
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>

    <div class="table-container mat-elevation-z8">
      <table mat-table [dataSource]="commissionedDataSource" matSort #commissionedSort="matSort" matSortActive="createdAt" matSortDirection="desc" class="static-table-widths">

          <ng-container matColumnDef="createdAt">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Created </th>
              <td mat-cell *matCellDef="let item"> {{item.createdAt | date:'mediumDate'}} </td>
          </ng-container>

          <ng-container matColumnDef="student">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Linked to </th>
              <td mat-cell *matCellDef="let item"> {{ getStudentName(item) }} </td>
          </ng-container>

          <ng-container matColumnDef="workType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
            <td mat-cell *matCellDef="let item"> {{item.workType}} </td>
          </ng-container>

          <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef> Details </th>
            <td mat-cell *matCellDef="let item" [matTooltip]="item.details">{{item.details | slice:0:30}}{{item.details.length > 30 ? '...' : ''}}</td>
          </ng-container>

          <ng-container matColumnDef="remuneration">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Remuneration </th>
            <td mat-cell *matCellDef="let item"> R{{item.remuneration.toFixed(2)}} </td>
          </ng-container>

          <ng-container matColumnDef="commissioner">
              <th mat-header-cell *matHeaderCellDef> Commissioned By </th>
              <td mat-cell *matCellDef="let item"> {{ getCommissionerName(item) }} </td>
          </ng-container>

          <ng-container matColumnDef="dateCompleted">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Completed </th>
            <td mat-cell *matCellDef="let item">
              @if (item.dateCompleted) {
                {{item.dateCompleted | date:'mediumDate'}}
              } @else {
                N/A
              }
            </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
            <td mat-cell *matCellDef="let item">
              <span class="status-chip" [ngClass]="item.status.replace(' ', '-').toLowerCase()">{{item.status}}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let item">
              <button mat-icon-button color="primary" (click)="approveWork(item)" [disabled]="item.status === EExtraWorkStatus.Approved || item.status === EExtraWorkStatus.Denied">
                  <mat-icon>check</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="denyWork(item)" [disabled]="item.status === EExtraWorkStatus.Denied || item.status === EExtraWorkStatus.Approved">
                  <mat-icon>close</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="commissionedDisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: commissionedDisplayedColumns;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="9">
              @if (!commissionedInput.value) {
                <span>You have not commissioned any extra work yet.</span>
              } @else {
                <span>No data matching the filter "{{commissionedInput.value}}"</span>
              }
            </td>
          </tr>
        </table>

      <mat-paginator #commissionedPaginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons
          aria-label="Select page of extra work entries">
        </mat-paginator>
      </div>
  </mat-tab>
</mat-tab-group>