<mat-toolbar color="primary" class="barBackground">
  @if (currentUser$ | async; as user) {
    <div class="toolbar-content">
      <div class="toolbar-section left">
        <img [src]="`assets/navlogo_${theme}.png`" alt="Company Logo" class="logo-image">
        <span class="logoName hide-on-mobile">TutorCore</span>
      </div>

      <div class="toolbar-section center hide-on-tablet">
        <span class="user-type">{{ user.type | userTypePipe }}</span>
      </div>

      <div class="toolbar-section right">
        <span class="userName hide-on-mobile">{{ user.displayName | displayNamePipe }}</span>
        <app-notification-bell />
        <app-profile-dropdown />
      </div>
    </div>
  }
</mat-toolbar>