<mat-toolbar color="primary" class="barBackground">
  <div class="leftSide">
    <img src="assets/logo.png" alt="Company Logo" class="logo-image">
    <p class="spacer1"></p>
  </div>

  @if (currentUser$ | async; as user) {
    <p class="spacer2" id="userType">{{ user.role | userrole }}</p>

    <div class = "rightSide">
      <button matIconButton class="notifications-icon" aria-label="Notifications">
          <mat-icon>notifications</mat-icon>
      </button>
      <app-profile-dropdown />
      <p class="userName">{{ user.displayName }}</p>
    </div>
  }
</mat-toolbar>