$breakpoint-tablet: 768px;
$breakpoint-mobile: 576px;

mat-toolbar.barBackground {
  display: flex;
  align-items: center;
  height: 6vh;
  padding: 0 16px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: var(--mat-sys-primary-container);
  color: var(--mat-button-text-label-text-color, var(--mat-sys-primary));
  border-bottom: 1px solid #b6b6b656;
}

.toolbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 16px; 
}

.toolbar-section {
  display: flex;
  align-items: center;
  gap: 8px; 

  &.center {
    flex-shrink: 1;
  }
}

.logo-image {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
}

.logoName, .userName, .user-type {
  font-weight: 500;
  white-space: nowrap; 
}

.user-type {
  font-size: 1.1rem;
}

@media (max-width: $breakpoint-tablet) {
  .hide-on-tablet {
    display: none !important;
  }
}

@media (max-width: $breakpoint-mobile) {
  .hide-on-mobile {
    display: none !important;
  }
  
  mat-toolbar.barBackground {
    padding: 0 8px; 
  }
}