<h1 mat-dialog-title>{{ isEditMode ? 'Edit Bundle' : 'Create New Bundle' }}</h1>
<mat-dialog-content>
  <p>{{ isEditMode ? 'Edit the tutoring bundle for ' + studentNameCtrl.value : 'Create a new tutoring bundle for a student.' }}</p>
  <form [formGroup]="bundleForm">
    <mat-form-field appearance="outline" *ngIf="!isEditMode">
      <mat-label>Student Name</mat-label>
      <input type="text" matInput [formControl]="studentNameCtrl" [matAutocomplete]="autoStudent" placeholder="Search for a student...">
      <mat-autocomplete #autoStudent="matAutocomplete" [displayWith]="displayUser" (optionSelected)="onStudentSelected($event)">
        @for (student of filteredStudents$ | async; track student._id) {
          <mat-option [value]="student">{{ student.displayName }}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    <mat-divider></mat-divider>

    <div formArrayName="subjects">
      <h3 class="subjects-title">Subjects</h3>
      @for (subjectGroup of subjects.controls; track subjectGroup; let i = $index) {
      <div [formGroupName]="i" class="subject-group">
        <div class="subject-details-group">
          <div class="form-row">
            <mat-form-field appearance="outline" class="flex-item">
              <mat-label>Proficiency</mat-label>
              <input type="text" matInput [formControl]="getFormControl(i, 'proficiencyName')" [matAutocomplete]="autoProf" placeholder="Search for a proficiency...">
              <mat-autocomplete #autoProf="matAutocomplete" [displayWith]="displayProf" (optionSelected)="onProficiencySelected($event, i)">
                @for (prof of filteredProficiencies$[i] | async; track prof.name) {
                  <mat-option [value]="prof">{{ prof.name }}</mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field appearance="outline" class="flex-item">
              <mat-label>Subject</mat-label>
              <input type="text" matInput [formControl]="getFormControl(i, 'subjectName')" [matAutocomplete]="autoSub" placeholder="Search for a subject...">
              <mat-autocomplete #autoSub="matAutocomplete" [displayWith]="displaySubject" (optionSelected)="onSubjectSelected($event, i)">
                @for (subj of filteredSubjects$[i] | async; track subj.name) {
                  <mat-option [value]="subj">{{ subj.name }}</mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>
            
            <mat-form-field appearance="outline" class="small-field">
                <mat-label>Grade</mat-label>
                <mat-select formControlName="grade">
                    @for (grade of (grades$[i] | async); track grade) {
                        <mat-option [value]="grade">{{ grade }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
          </div>

          <div class="form-row">
            <mat-form-field appearance="outline" class="flex-item">
              <mat-label>Tutor Name</mat-label>
               <input type="text" matInput [formControl]="getFormControl(i, 'tutorName')" [matAutocomplete]="autoTutor" placeholder="Search for a tutor...">
               <mat-autocomplete #autoTutor="matAutocomplete" [displayWith]="displayUser" (optionSelected)="onTutorSelected($event, i)">
                 @for (tutor of filteredTutors$[i] | async; track tutor._id) {
                   <mat-option [value]="tutor">{{ tutor.displayName }}</mat-option>
                 }
               </mat-autocomplete>
            </mat-form-field>
             <div class="labeled-spinner flex-item">
                <span class="input-label">Duration</span>
                <app-time-spinner
                    mode="duration" 
                    [step]="15" 
                    [min]="15" 
                    formControlName="duration">
                </app-time-spinner>
            </div>
          </div>
        </div>
      </div>
        @if (i !== subjects.controls.length - 1) {
          <mat-divider class="divider"></mat-divider>
        }
      }
    </div>
    <div class="button-row">
      <button mat-stroked-button color="primary" (click)="addSubject()">
        <mat-icon>add</mat-icon>
        Add Another Subject
      </button>
      @if (subjects.controls.length > 1) {
        <button mat-stroked-button color="warn" (click)="removeSubject(subjects.controls.length - 1)">
            <mat-icon>remove</mat-icon>
            Remove Subject
        </button>
      }
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-flat-button color="primary" (click)="onSave()" [disabled]="bundleForm.invalid || isSaving">
    @if (isSaving) {
    <mat-progress-spinner mode="indeterminate" diameter="24"></mat-progress-spinner>
    } @else {
    <span>{{ isEditMode ? 'Save Changes' : 'Create Bundle' }}</span>
    }
  </button>
</mat-dialog-actions>