
// Style for 'approved' status
.status-approved {
  color: green;
  font-style: italic;
}
.mat-elevation-z8{
  width: 100%;
  border: 1px solid  #bdbdbd;// Light grey border
  border-radius: 8px;
  overflow: hidden;
}

// Style for 'pending' status
.status-pending {
  color: orange;
  font-style: italic;
}

// Style for 'denied' status
.status-denied {
  color: red;
  font-style: italic;
}
.actions-cell {
  width: 120px; // Give the column a fixed width
  text-align: center;
}

.approve-button {
  color: green;
}

.deny-button {
  color: red;
}

tr.leave-detail-row {
  height: 0;
}

tr.leave-element-row:not(.leave-expanded-row):hover {
  background: inherit;
  cursor: pointer;
}

tr.leave-element-row:not(.leave-expanded-row):active {
  background: inherit;
}

.leave-element-row td {
  border-bottom-width: 0;
}

.leave-detail-container {
  overflow: hidden;
  display: flex;
}

.leave-detail-content {
  padding: 16px;
  background-color: inherit;
  border-top: 1px solid inherit;
  width: 100%;

  strong {
    font-weight: 500;
  }
  p {
    margin-top: 8px;
    margin-bottom: 0;
    line-height: 1.5;
  }
}
