table {
  width: 100%;
  border: 1px solid  #bdbdbd;// Light grey border
  border-radius: 8px;      // Rounded corners
  overflow: hidden;
}
// Style for 'approved' status
.status-approved {
  color: green;
  font-style: italic;
}

// Style for 'pending' status
.status-pending {
  color: orange;
  font-style: italic;
}

// Style for 'denied' status
.status-denied {
  color: red;
  font-style: italic;
}
.actions-cell {
  width: 120px; // Give the column a fixed width
  text-align: center;
}

.approve-button {
  color: green;
}

.deny-button {
  color: red;
}
