<div class="dialog-header">
  <h1 mat-dialog-title>{{ pdfFilename }}</h1>
  <div class="header-actions">
    <button mat-icon-button (click)="downloadDocument()" matTooltip="Download PDF">
      <mat-icon>download</mat-icon>
    </button>
    <button mat-icon-button (click)="close()" matTooltip="Close">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<mat-dialog-content>
  @if(pdfUrl) {
    <iframe [src]="pdfUrl" frameborder="0"></iframe>
  } @else {
    <p>Could not load PDF.</p>
  }
</mat-dialog-content>

