<div class="page-container">
  @if (isLoading) {
    <mat-spinner></mat-spinner>
  } @else {
    @if (studentNotFound) {
      <mat-card>
        <mat-card-header>
          <mat-card-title>Student Not Found</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Sorry, we couldn't find the student you were looking for.</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button color="primary" (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
            <span>Back to Student List</span>
          </button>
        </mat-card-actions>
      </mat-card>
    } @else if (student) {
      <mat-card class="student-info-card">
        <mat-card-header>
          <img mat-card-avatar [src]="student.picture || '/assets/no_profile_pic.png'" [alt]="student.displayName">
          <mat-card-title>{{ student.displayName }}</mat-card-title>
          <mat-card-subtitle>{{ student.email }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h2>Student Details</h2>
          <p><strong>Member Since:</strong> {{ student.createdAt | date:'longDate' }}</p>
          </mat-card-content>
         <mat-card-actions>
          <button mat-stroked-button color="primary" (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
            <span>Back to Student List</span>
          </button>
        </mat-card-actions>
      </mat-card>
    }
  }
</div>
