:host {
  display: block;
  padding: 1rem;
}

.table-container {
  border-radius: 8px;
  overflow: hidden;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: var(--background-color-light);

  h2 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  mat-form-field {
    width: 300px;
    font-size: 14px;
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  background-color: var(--background-color-light);
}

table {
  width: 100%;
}

.clickable-row {
  cursor: pointer;
  &:hover {
    background-color: var(--hover-color);
  }
}

.mat-column-actions {
  width: 120px;
  text-align: center;
}

.status-chip {
    padding: 0.25rem 0.75rem;
    border-radius: 16px;
    font-size: 0.8rem;
    font-weight: 500;
    color: #fff;
    text-transform: capitalize;

    &.active, &.scheduled {
        background-color: #4CAF50; // Green
    }

    &.pending {
        background-color: #FFC107; // Amber
    }
    
    &.cancelled {
        background-color: #F44336; // Red
    }
    
    &.completed {
        background-color: #607D8B; // Blue Grey
    }
}
