<mat-card class="badge-card" (click)="viewDetails()">
  <mat-card-header>
    <div mat-card-avatar [style.backgroundImage]="'url(' + badge.image + ')'" class="badge-image-avatar"></div>
    <mat-card-title>{{ badge.name }}</mat-card-title>
    <mat-card-subtitle>{{ badge.TLA }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{ badge.summary }}</p>
  </mat-card-content>
  <mat-card-actions *ngIf="isAdminView || canManage">
    <button *ngIf="isAdminView" mat-icon-button (click)="editBadge(); $event.stopPropagation()">
      <mat-icon>edit</mat-icon>
    </button>
    <button *ngIf="canManage" mat-icon-button color="warn" (click)="removeBadgeFromUser(); $event.stopPropagation()">
      <mat-icon>remove_circle</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>